---
http_interactions:
- request:
    method: post
    uri: https://ma.manza.dev/api/payment_links/fixture-cancellable-payment-link-id/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <MANZA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f4978a3293ef83b2e0c624a4f4564bd1"
      Manza-Version:
      - "<MANZA_VERSION>"
      Zazu-Version:
      - "<MANZA_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"fixture-cancellable-payment-link-id","slug":"UYIagDSZ8edy","link_type":"single","currency_code":"MAD","title":"Zazu
        Fixture — cancellable","description":"[zazu-ruby-fixture] cancellable","payment_reference":"fixture-cancellable-125244b1","payments_count":0,"max_payments":null,"redirect_url":null,"invoice_id":null,"collect_billing_address":null,"billing_address":{},"status":"cancelled","amount":"100.0","url":"https://pay.staging.zazu.ma/payment-link/UYIagDSZ8edy","expires_at":null,"paid_at":null,"settled_at":null,"created_at":"2026-10-02T15:24:34+00:00","updated_at":"2026-10-02T15:24:58+00:00","account":{"id":"fixture-account-id","name":"Main
        Account","currency_code":"MAD","rib":"<RIB>"}}'
  recorded_at: Fri, 02 Oct 2026 15:24:59 GMT
recorded_with: VCR 6.4.0
