# Hand-authored against the API contract (getmanza/zazu-ruby#6, app
# c07b99b7e1): recording needs the one-time staging setup listed in
# lib/tasks/fixtures.rake. Re-record with `bundle exec rake fixtures:record`.
---
http_interactions:
- request:
    method: post
    uri: https://ma.manza.dev/api/beneficiaries
    body:
      encoding: UTF-8
      string: '{"beneficiary_type":"business","company_name":"Zazu Fixture Beneficiary - spec (zazu-ruby-fixture)","email":"fixture-beneficiary-spec@example.com"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
      Manza-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"0199a5c0-0000-7000-8000-00000000b001","beneficiary_type":"business","email":"fixture-beneficiary-spec@example.com","phone_number":null,"name":"Zazu Fixture Beneficiary - spec (zazu-ruby-fixture)","external_accounts":[],"created_at":"2026-10-02T10:00:00Z"}'
  recorded_at: Fri, 02 Oct 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
