# Hand-authored against the API contract (getmanza/zazu-ruby#6, app
# c07b99b7e1): recording needs the one-time staging setup listed in
# lib/tasks/fixtures.rake. Re-record with `bundle exec rake fixtures:record`.
---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/beneficiaries/fixture-created-beneficiary-id/external_accounts
    body:
      encoding: UTF-8
      string: '{"account_number":"fixture-new-account-number","name":"Fixture Secondary Account"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
      Manza-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"0199a5c0-0000-7000-8000-00000000e002","name":"Fixture Secondary Account","account_number":"<ACCOUNT_NUMBER>","bank_identifier":"<BANK_IDENTIFIER>","currency_code":"MAD","default":false}'
  recorded_at: Fri, 02 Oct 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
