# Hand-authored against the API contract (getmanza/zazu-ruby#6, app
# c07b99b7e1): recording needs the one-time staging setup listed in
# lib/tasks/fixtures.rake. Re-record with `bundle exec rake fixtures:record`.
---
http_interactions:
- request:
    method: get
    uri: https://ma.manza.dev/api/beneficiaries?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
      Manza-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"fixture-beneficiary-id","beneficiary_type":"business","email":"fixture-beneficiary@example.com","phone_number":null,"name":"Zazu Fixture Beneficiary Co","external_accounts":[{"id":"fixture-trusted-external-account-id","name":"Fixture Main Account","account_number":"<ACCOUNT_NUMBER>","bank_identifier":"<BANK_IDENTIFIER>","currency_code":"MAD","default":true}],"created_at":"2026-07-01T09:00:00Z"},{"id":"fixture-created-beneficiary-id","beneficiary_type":"business","email":"fixture-created-beneficiary@example.com","phone_number":null,"name":"Zazu Fixture Beneficiary - created (zazu-ruby-fixture-v1)","external_accounts":[{"id":"fixture-external-account-id","name":"Fixture Seeded Account","account_number":"<ACCOUNT_NUMBER>","bank_identifier":"<BANK_IDENTIFIER>","currency_code":"MAD","default":true}],"created_at":"2026-10-02T10:00:00Z"}],"has_more":false,"next_cursor":null}'
  recorded_at: Fri, 02 Oct 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
