---
http_interactions:
- request:
    method: get
    uri: https://ma.manza.dev/api/invoices?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MANZA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d65a09ab0bc58203ca06f432789102c4"
      Manza-Version:
      - "<MANZA_VERSION>"
      Zazu-Version:
      - "<MANZA_VERSION>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"fixture-deletable-invoice-id","number":"INV-202610-007","status":"pending_approval","currency_code":"MAD","issue_date":"2026-10-02","due_date":"2026-11-01","reference":"zazu-ruby-fixture-v1-inv-1","notes":"[zazu-ruby-fixture]
        draft 1","payment_terms":null,"send_to_email":null,"credited_invoice_id":null,"delivery_date":null,"subtotal":"100.0","discount_total":"0.0","tax_total":"20.0","total":"120.0","sent_at":null,"paid_at":null,"created_at":"2026-10-02T15:24:32+00:00","updated_at":"2026-10-02T15:24:32+00:00","credit_note":false,"customer":{"id":"fixture-customer-id","name":"Zazu
        Fixture Co — primary (zazu-ruby-fixture-v1)","email":"fixture-primary-bd6c6a59@example.com"},"items_count":1,"discounts_count":0,"payment_link_url":null},{"id":"fixture-invoice-id","number":"INV-202610-006","status":"pending_approval","currency_code":"MAD","issue_date":"2026-10-02","due_date":"2026-11-01","reference":"zazu-ruby-fixture-v1-inv-0","notes":"[zazu-ruby-fixture]
        draft 0","payment_terms":null,"send_to_email":null,"credited_invoice_id":null,"delivery_date":null,"subtotal":"100.0","discount_total":"0.0","tax_total":"20.0","total":"120.0","sent_at":null,"paid_at":null,"created_at":"2026-10-02T15:24:30+00:00","updated_at":"2026-10-02T15:24:30+00:00","credit_note":false,"customer":{"id":"fixture-customer-id","name":"Zazu
        Fixture Co — primary (zazu-ruby-fixture-v1)","email":"fixture-primary-bd6c6a59@example.com"},"items_count":1,"discounts_count":0,"payment_link_url":null}],"has_more":false,"next_cursor":null}'
  recorded_at: Fri, 02 Oct 2026 15:24:52 GMT
recorded_with: VCR 6.4.0
