# Hand-authored against the API contract (getmanza/zazu-ruby#6, app
# c07b99b7e1): recording needs the one-time staging setup listed in
# lib/tasks/fixtures.rake. Re-record with `bundle exec rake fixtures:record`.
---
http_interactions:
- request:
    method: post
    uri: https://ma.manza.dev/api/transfer_drafts/fixture-authorizable-draft-id/authorize
    body:
      encoding: UTF-8
      string: '{"authorization_id":"fixture-authorizable-authorization-id","signature":"<SIGNATURE>"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
      Manza-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"fixture-authorizable-draft-id","status":"processing","currency_code":"MAD","payment_reference":"zazu-ruby-fixture-v1-authorizable","client_reference":"fixture-authorizable-client-reference","account_id":"fixture-account-id","beneficiary_id":"fixture-beneficiary-id","external_account_id":"fixture-trusted-external-account-id","amount":"10.0","destination_account_id":null,"transfer":{"id":"0199a5c0-0000-7000-8000-00000000f006","status":"processing"},"authorization":{"id":"fixture-authorizable-authorization-id","status":"authorized","expires_at":"2026-10-02T11:00:00Z"},"created_at":"2026-10-02T10:00:00Z","updated_at":"2026-10-02T10:00:05Z"}'
  recorded_at: Fri, 02 Oct 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
