# Hand-authored against the API contract (getmanza/zazu-ruby#6, app
# c07b99b7e1): recording needs the one-time staging setup listed in
# lib/tasks/fixtures.rake. Re-record with `bundle exec rake fixtures:record`.
---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/transfer_drafts
    body:
      encoding: UTF-8
      string: '{"account_id":"fixture-account-id","beneficiary_id":"fixture-beneficiary-id","amount":"150.00","payment_reference":"SDK fixture","client_reference":"fixture-client-reference"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
      Manza-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"0199a5c0-0000-7000-8000-00000000d004","status":"requested","currency_code":"MAD","payment_reference":"SDK fixture","client_reference":"fixture-client-reference","account_id":"fixture-account-id","beneficiary_id":"fixture-beneficiary-id","external_account_id":"fixture-trusted-external-account-id","amount":"150.0","destination_account_id":null,"transfer":null,"authorization":{"id":"0199a5c0-0000-7000-8000-00000000a005","status":"pending","expires_at":"2026-10-02T11:00:00Z"},"created_at":"2026-10-02T10:00:00Z","updated_at":"2026-10-02T10:00:00Z"}'
  recorded_at: Fri, 02 Oct 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
