# Hand-authored against the API contract (getmanza/zazu-ruby#6, app
# c07b99b7e1): recording needs the one-time staging setup listed in
# lib/tasks/fixtures.rake. Re-record with `bundle exec rake fixtures:record`.
---
http_interactions:
- request:
    method: post
    uri: https://staging.zazu.ma/api/transfer_drafts/fixture-declinable-draft-id/decline
    body:
      encoding: UTF-8
      string: '{"authorization_id":"fixture-declinable-authorization-id","reason":"SDK fixture"}'
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
      Manza-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"fixture-declinable-authorization-id","status":"declined","expires_at":"2026-10-02T11:00:00Z","authorized_at":null,"declined_at":"2026-10-02T10:00:05Z"}'
  recorded_at: Fri, 02 Oct 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
