# Hand-authored against the API contract (getmanza/zazu-ruby#6, app
# c07b99b7e1): recording needs the one-time staging setup listed in
# lib/tasks/fixtures.rake. Re-record with `bundle exec rake fixtures:record`.
---
http_interactions:
- request:
    method: get
    uri: https://ma.manza.dev/api/payee_trust_requests/fixture-payee-trust-request-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zazu-Version:
      - "<ZAZU_VERSION>"
      Manza-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: UTF-8
      string: '{"id":"fixture-payee-trust-request-id","status":"pending","external_account_ids":["fixture-external-account-id"],"created_at":"2026-10-02T10:00:00Z","resolved_at":null}'
  recorded_at: Fri, 02 Oct 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
