---
http_interactions:
- request:
    method: get
    uri: https://ma.manza.dev/api/entity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ZAZU_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"331be5b8e5a0874a47fae1c33eec5c65"
      Manza-Version:
      - "<ZAZU_VERSION>"
      Zazu-Version:
      - "<ZAZU_VERSION>"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"019a95b0-2cf0-7f5c-9462-056370069c93","name":"Zazu","created_at":"2025-11-18T07:39:02+01:00"}'
  recorded_at: Fri, 02 Oct 2026 14:54:21 GMT
recorded_with: VCR 6.4.0
